@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */
nb-base-calendar nb-card {
  height: 476px !important;
  width: 485px !important;
}

nb-calendar-picker-row{
  height: 70px;
}

*{
  font-family: "Source Sans 3", sans-serif;
}

#card-2{
  font-family: "Source Sans 3", sans-serif !important;
}
body > app-root > app-home > nb-layout > div > div > div > div > div > nb-layout-column.col > nb-card > nb-card-body > nb-calendar > nb-base-calendar > nb-card > nb-card-body > nb-calendar-day-picker > div > nb-calendar-days-names{
  color: white;
}


.layout{
  background-color: #192435 !important;
}

body > app-root > app-home > nb-layout > div > div > div > div > div > nb-layout-column.col > nb-card > nb-card-body > nb-calendar > nb-base-calendar > nb-card {
  background-color: #393e46
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
