#card-2{
    font-family: "Source Sans 3", sans-serif !important;
}

@media only screen and (max-width: 768px) {
    /* Agrega aquí tus estilos específicos para dispositivos móviles */
    .columns{
        display: flex;
        flex-direction: column !important;
    }
    /* Puedes agregar más estilos según sea necesario */
  }

  